body h1 {
	color: blue;
	background-color: green;
}
body h2 {
	color: black;
	background-color: yellow;
}
body h3 {
	color: blue;
	background-color: black;
}
body h4 {
	color: red;
	background-color: green;
}
